.content-client {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      180deg,
      #952968 0%,
      #ec3068 15.1%,
      #eca178 55.21%,
      #ec3068 80.21%,
      #952968 100%
    );
  display: flex;
  justify-content: center;
  align-items: center;

}

.client{
    width: 80%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.client-table table{
    width: 80%;
}

.custom-thead {
    background-color: #007bff; /* Color azul de Bootstrap */
    color: white; /* Color del texto */
  }
